<section class="competitions-container">

  <div *ngIf="(competitions$ | async) as competitions"
       class="competitions-container__competition-cards"
       [@cardListAnimation]="competitions.length">
    <mat-card *ngFor="let competition of competitions" (click)="navigateToMatches(competition)">
      <mat-card-title>{{competition.name}}</mat-card-title>
      <mat-card-subtitle>{{competition.area.name}}</mat-card-subtitle>
    </mat-card>
  </div>

  <div *ngIf="loading$ | async">Loading...</div>
  <div *ngIf="error$ | async">Something went wrong</div>

</section>
