<section>
  <div *ngIf="details$ | async as details" class="match-details-container">
    <h1 class="match-details-container__competition-name">{{details.competitionName}}</h1>

    <details class="match-details-container__details">
      <h5 class="match-details-container__details__score">{{details.homeScore}} : {{details.awayScore}}</h5>
      <h4 class="match-details-container__details__teams">{{details.homeTeam}} - {{details.awayTeam}}</h4>

      <span>{{details.status}}</span>
      <span>{{details.date | date}}</span>
      <span>{{details.period}}</span>
      <span>{{details.minute}}</span>
    </details>
  </div>

  <div *ngIf="loading$ | async">Loading...</div>
  <div *ngIf="error$ | async" class="matches-container__error">
    <span>
      Something went wrong.
    </span>
  </div>
</section>
