<section class="matches-container">

  <h1 class="matches-container__title">{{ (competition$ | async)?.name }}</h1>

  <div *ngIf="(matches$ | async) as matches"
       class="matches-container__match-cards"
       [@cardListAnimation]="matches.length">
    <mat-card *ngFor="let match of matches">
      <mat-card-title>{{match.homeTeam.name}} - {{match.awayTeam.name}}</mat-card-title>
      <mat-card-subtitle [ngClass]="{
      'live': match.status === matchStatuses.LIVE,
      'live': match.status === matchStatuses.PAUSED,
      'live': match.status === matchStatuses.IN_PLAY}">{{match.status}}</mat-card-subtitle>
    </mat-card>
  </div>

  <div *ngIf="loading$ | async">Loading...</div>
  <div *ngIf="error$ | async" class="matches-container__error">
    <span>
      Something went wrong, perhaps you chose a competition I do not have a right to get it from the API. Use UEFA Champions League.
    </span>
  </div>

</section>
